<!doctype html>
<html>
<head>
    <title>restraunt reviews</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

        <div class ="homeHeader">
            <h1>Restaurant Reviews</h1>
        </div>

        
  

    <div class="logininputs">

        

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>LOGIN</a>
        

    </div>

</div>
</body>
</html>
